.header{
    width: 100%;
    height: 50px;
    color: black;
    background: #FF9033;
    padding: 0;
    margin: 0;
    display:block;
    align-items: center;
}

body{
    padding: 0;
    margin: 0;
}

.Login{
    max-width: 1200px;
    margin: auto;
    background:white;
    text-align:right;
}